{% load static %}
<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--link bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.css">

    <!--CSS propio -->
    <link rel="stylesheet" href="{% static 'core/css/my_styles.css' %}">

    <!-- JS Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <title>Ninja Gold Games</title>
</head>
<body>
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-sm-6">
                <h2>Your gold: {{request.session.total_gold}}</h2>
            </div>
            <div class="col-sm-6 text-end">
                <a href="{% url 'play-again' %}" class="btn btn-primary">Play Again</a>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">                
                <div class="card text-center border-primary">
                    <div class="card-header">
                        <h3 class="card-title">Farm</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">(earns 10-20 golds)</h4>
                    </div>
                    <div class="card-footer">     
                        <a class="btn btn-primary" href="process_money/farm">Find gold!!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card text-center border-success">
                    <div class="card-header">
                        <h3 class="card-title">Cave</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">(earns 5-10 golds)</h4>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-success" href="process_money/cave">Find gold!!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card text-center border-warning">
                    <div class="card-header">
                        <h3 class="card-title">House</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">(earns 2-5 golds)</h4>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-warning" href="process_money/house">Find gold!!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card text-center border-danger">
                    <div class="card-header">
                        <h3 class="card-title">Casino</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">(earns/takes 0-50 golds)</h4>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-danger" href="process_money/casino">Find gold!!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <h3>Activities</h3>
            <div class="col-lg-12 activities">
                {% for activity in request.session.activities reversed %}
                    {% if "Lost" in activity %}    
                        <h4 class="text-danger">{{activity}}</h4>
                    {% else %}
                        <h4 class="text-success">{{activity}}</h4>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.js"></script>
</body>
</html>